# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database & SQL Dump files
*.db
*.sqlite3
*.sql

# Environments
.env
.env.vercel
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

.vercel

.vercel
.env*
